body {
	box-sizing: border-box;
	background-color: #8d8f91;
	/*font-family: Poppins, Sans-serif;*/
	font-family: "Helvetica Neue";
	margin: 0;
	overflow-x: hidden;
}

.firstDiv {
	margin: 20px auto;
	width: 90vw;
	box-shadow: 2px 2px 2px 2px  gray;
}
.divTop {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90vw;
}




.h4Div {
	background-color: #575796;
	height: 34px;
	margin-bottom: 30px;
}

.buttons {
	display: flex;
	justify-content: flex-start;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	margin-left: -10px;
	margin-right: 0;
}

/* For image sizing */

img {
	width: 100%;
	height: 200px;
}


.divTop2 {
	display: flex;
	justify-content: center;
	width: 250px;
	border: 1px solid #e0e0e0;
	margin-bottom: 20px;
	background-color: white;

}


.marginDiv {
	width: 220px;
	margin-top: 10px;
}

h4 {
	font-size: 40px;
    margin-left: 20px;
    margin-bottom: 15px
}

.Header {
	min-height: 80vh;
	background-image: linear-gradient(60deg, #3e32a8, #7c2fad);		
	margin: 0;
	padding: 0;
	min-height: 80vh;
}


.Header2 {
	display: flex;
	justify-content: space-between;

}
.Header2 img {
	width: 600px;
	height: auto;
}

.Header2 h1 {
	font-family: sans-serif;
	color: white;
	font-weight: 900;
	margin-left: 90px;
	margin-top: 100px;
}

.Header2 button {
	margin-left: 90px;
	background-color: white !important;
	color: black;
	margin-top: 20px;
}


.searchForm {
	margin-top: 20px;
}

.inputRow {
	display: flex;
	justify-content: flex-start;
	padding-left: 20px; 
}

.inputRow2 {
	display: flex;
	justify-content: flex-start;
	padding-left: 20px; 
}

.inputNumber input[type=number] {
	width: 130px;
	margin-left: 7px;
}

.cart {
	width: 90vw;
	margin: 10px auto;
}

.cartRow {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: white;
}


.showDropIn1 textarea {
	width: 700px !important;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 20vh;
	/*background-image: linear-gradient(60deg, #3e32a8, #7c2fad);*/
	background-color: black;
	align-items: center;
	align-content: center;
}

.copyright {
	display: flex;
	justify-content: center;
}

.bg-dark {
	background-color: black !important;
}

#navbarNav {
	margin-right: 10px;
}
.collapse {
	display: flex;
	justify-content: flex-end !important;
}
.navbar-brand {
	font-family: "Sonsie One", cursive;
	font-weight: 900;
/*	font-family: 'Bungee Shade', cursive;
*/
}


@media screen and (max-width: 360px){
	.Header {
		width: 100%;
		min-height: 20vh;
	}
	
	.Header2 {
		display: flex;
		justify-content: space-around;
	}
	.Header2 button{
		display: none;
	}
	.Header2 img {
		width: 40px;
		height: auto;
	}
	.Header2 h1 {
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
	}

	.navbar-brand {
		font-family: Helvetica;
		font-size: 14px;
	}

}

@media screen and (max-width: 411px){
	.Header {

		width: 100%;
		min-height: 20vh;
	}
	
	.Header2 {
		display: flex;
		justify-content: space-evenly;
	}
	.Header2 button{
		display: none;
	}
	.Header2 img {
		width: 140px;
		height: auto;
	}
	.Header2 h1 {
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
	}
	.Header2 button {
		margin-left: 10px;
		margin-top: 10px;
	}

	.navbar-brand {
		font-family: Helvetica;
		font-size: 14px;
	}

}

@media screen and (max-width: 320px){
	.Header {
		width: 100% !important;
		min-height: 20vh;
	}
	
	.Header .Header2 {
		display: flex;
		justify-content: center;
	}
	.Header2 button{
		display: none;
	}
	.Header .Header2 img {
		width: 170px;
		height: auto;
	}
	.Header2 h1 {
		width: 140px;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
	}
	.Header2 button {
		margin-left: 10px;
		margin-top: 10px;
	}
	.nav {
		width: 100%;
	}

	.navbar-brand {
		font-family: Helvetica;
		font-size: 14px;
	}
}

@media screen and (max-width:  414px){
	.Header {
		min-height: 20vh;
		min-width: 100vw;
	}
	.Header2 {
		display: flex;
		justify-content: space-around;
	}
	.Header2 img {
		width: 200px;
		height: 200px;
	}
	.Header2 h1 {
		margin-left: 17px;
		margin-top: 3px;
	}
	.Header2 button {
		display: none;
	}

	.navbar-brand {
		font-family: Helvetica;
		font-size: 14px;
	}

}

@media screen and (max-width:  375px){
	.Header {
		display: flex;
		align-items: center;
		min-height: 20vh;
		min-width: 100vw;
	}
	.Header2 {
		display: flex;
		justify-content: space-around;
	}
	.Header2 img {
		width: 160px;
		height: auto;
	}

	.Header2 h1 {
		font-weight: bold;
		margin-top: 30px;
	}

	.navbar-brand {
		font-family: Helvetica;
		font-size: 14px;
	}

}


@media screen and (max-width: 414px){
	.h4Div {
		text-align: center;
	}
}


@media screen and (max-width: 768px){
	.Header {
		width: 100%;
		min-height: 80vh;
	}
	.Header2 {
		display: flex;
		justify-content: space-around;
	}

	.Header2 img {
		width: 400px;
		height: auto;
	}

	.Header2 h1 {
		margin-top: 10px;
	}

	.h4Div {
		text-align: center;
	}
}

@media screen and (max-width: 1024px){
	.Header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100vw;
		min-height: 45vh;
	}
	.Header2 {
		display: flex;
		justify-content: space-around;

	}
}

@media screen and (max-width: 540px){
	.Header {
		width: 100vw;
		min-height: 30vh;
	}
	.Header2 {
		display: flex;
		justify-content: space-around;
	}
	.Header2 img {
		width: 200px;
		height: 200px;
	}
	.Header2 button {
		display: none;
	}
}

@media screen and (max-width: 280px){
	.Header {
		width: 100vw;
		min-height: 20vh;
	}
	.Header2 {
		display: flex;
		justify-content: space-around;
	}
	.Header2 img {
		width: 120px;
		height: auto;
	}
	.Header2 button {
		display: none;
	}
}
@media screen and (max-width: 776px){
	.h4Div {
		text-align: center;
	}
}


@media screen and (max-width: 809px){
	.h4Div {
		text-align: center;
	}
}